---
layout: internal
---

<p>This section is open to ASMI Members Only.</p>
<p>Lost your password? <a href="#">Click here</a> to contact ASMI or call <a href="tel:0299225111">02 9922 5111</a>.</p>
<p>Not sure if your company is a member of ASMI? Check the current membership list here.</p>
<p>For information about joining ASMI, <a href="#">click here</a>.</p>

<div class="row">
	<div class="medium-6 columns">
		<form data-abide novalidate method="post" action="#">

			<!-- Username -->
			<div class="row">
				<div class="columns">
					<label>Username <!--<small>required</small>-->
						<input name="name" type="text" required>
					</label>
					<small class="error">Your name is required.</small>
				</div>
			</div>

			<!-- Password -->
			<div class="row">
				<div class="columns">
					<label>Password
						<input name="password" type="password" required>
					</label>
					<small class="error">Your password is required</small>
				</div>
			</div>

			<!-- Remember Me -->
			<div class="row">
				<div class="columns">
					<input id="remember-me" type="checkbox" checked>
					<label for="remember-me">Remember me</label>
				</div>
			</div>

			<!-- Submit -->
			<div class="row">
				<div class="columns text-center medium-text-left">
					<button type="submit" class="button">Login</button>
				</div>
			</div>

		</form>
	</div>
</div>