<div class="feature-panel {{ include.class }}">
	<header class="header">
		<h3><i class="fa {{ include.icon }}"></i>&nbsp;
			{% if page.sidebar_title_override %}
			    {{ page.sidebar_title_override }}
			{% else %}
				{{ include.title }}
			{% endif %}
		</h3>
	</header>

	<!-- Text -->
	<div class="feature-panel-body">
		{{ include.body }}
		{% comment %}
			<div class="text-right"><a class="read-more-btn">Read More <i class="fa fa-angle-right"></i></a></div>
		{% endcomment %}
	</div>
</div>