<div class="row outer-row">
	<div class="row-bg">
		<div class="medium-6 columns">
			<!-- Social Networks  -->
			<ul class="social-networks lv-inline-list text-center medium-text-left">
				<li><a href="/terms-and-use/">Terms of Use</a></li>
				<li><a href="/privacy/">Privacy</a></li>
				<li><a href="/contact-us/">Contact Us</a></li>
				<li><a href="/sitemap/">Sitemap</a></li>
			</ul>
		</div>
		<div class="medium-6 columns text-center medium-text-right">
			<p><b>© 2015</b> - Australian Self Medication Industry<br></p>
		</div>
	</div>
</div>
