/*
    FOOTER.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Footer
//-----------------------------------------------------------------

.global-footer {
	* {
		@media #{$medium-up} {
		    padding-bottom: 0;
		    margin-bottom: 0;
		}
	}

	@media #{$large-up} {
	    margin-bottom: rem-calc(30);
	}

	.outer-row {
		// background: darken($primary-color, 10%);
		padding: 0;
	}

	.row-bg {
		padding: rem-calc(15 15 5 15);
		background: #282828;
		// padding: rem-calc(15 15 0 15);
		// margin: rem-calc(15 15 0 15);
		overflow: hidden;
		border-radius: 0 0 ($global-radius * 2) ($global-radius * 2);
	}

	p, a {
		color: white;
		font-size: rem-calc(12);
	}
}

//=========================================
//
//=========================================