/*
    FOOTER.CSS

    - Last updated: 02.06.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Footer
//-----------------------------------------------------------------

.global-footer {
	* {
		@media #{$medium-up} {
		    padding-bottom: 0;
		    margin-bottom: 0;
		}
	}

	@media #{$large-up} {
	    margin-bottom: rem-calc(30);
	}

	.outer-row {
		padding: 0;
	}

	.row-bg {
		padding: rem-calc(15 15 5 15);
		background: #282828;
		overflow: hidden;
		border-radius: 0 0 ($global-radius * 2) ($global-radius * 2);
	}

	p, a {
		@include transition();
		color: white;
		font-size: rem-calc(12);
	}

	a:hover {
		color: $tertiary-color;
	}
}

//=========================================
//
//=========================================