/*
    SIDEBAR.CSS

    - Last updated: 02.06.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$light-blue: #489AD6;

//-----------------------------------------------------------------
// Sidebar
//-----------------------------------------------------------------

.global-sidebar {
	@media #{$medium-up} {
	    position: relative;
	    left: -18px;
	}
}

.side-nav {
	list-style: none;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;

	li {
		margin: 0;

		a {
			border-bottom: 1px solid #B0C9EC;
		}
	}

	.active-parent {
		a {
			border: 0;
			background: $light-blue;
			color: white !important;

			&:hover {
				background: darken($light-blue, 10%) !important;
			}
		}

		> a {
			background: darken($light-blue, 20%);

			&:hover {
				background: darken($light-blue, 20%) !important;
			}
		}
	}
}

//-----------------------------------------------------------------
// Block List
//-----------------------------------------------------------------

.global-sidebar .block-list {
	position: relative;
	left: -20px;
	width: calc(100% + 40px);

	li {
		padding: rem-calc(10 15);
	}
}

//=========================================
//
//=========================================