@import "foundation/settings";
/*
    LIQUIDVISUAL MIXINS :: A Personal Framework

    - updated: 01.12.14
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Mixins
//-----------------------------------------------------------------

@mixin transition($property: "opacity, color, background") {
    -webkit-transition: all .15s linear;
       -moz-transition: all .15s linear;
         -o-transition: all .15s linear;
        -ms-transition: all .15s linear;
            transition: all .15s linear;

    -webkit-transition-property: $property;
       -moz-transition-property: $property;
         -o-transition-property: $property;
        -ms-transition-property: $property;
            transition-property: $property;
}

//-----------------------------------------------------------------
// White BG
//-----------------------------------------------------------------

@mixin white-bg() {
    // 1170
    // background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAYEBAQFBAYFBQYJBgUGCQsIBgYICwwKCgsKCgwQDAwMDAwMEAwODxAPDgwTExQUExMcGxsbHCAgICAgICAgICD/2wBDAQcHBw0MDRgQEBgaFREVGiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICD/wAARCAABBM4DAREAAhEBAxEB/8QAFQABAQAAAAAAAAAAAAAAAAAAAAj/xAAUEAEAAAAAAAAAAAAAAAAAAAAA/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB//Z) repeat-y center;

    // 1200
    background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAcEBAQFBAcFBQcKBwUHCgwJBwcJDA0LCwwLCw0RDQ0NDQ0NEQ0PEBEQDw0UFBYWFBQeHR0dHiIiIiIiIiIiIiL/2wBDAQgHBw0MDRgQEBgaFREVGiAgICAgICAgICAgICAhICAgICAgISEhICAgISEhISEhISEiIiIiIiIiIiIiIiIiIiL/wAARCAABBLADAREAAhEBAxEB/8QAFQABAQAAAAAAAAAAAAAAAAAAAAj/xAAUEAEAAAAAAAAAAAAAAAAAAAAA/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKRAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB//Z) repeat-y center;
}

//=========================================
// Hamburger
//=========================================

@mixin hamburger($width: 24px, $gap: 4px, $thickness: 4px, $color: black) {
    display: block;
    height: ($thickness + $gap) * 2;
    cursor: pointer;

    .hamburger-icon,
    &:after {
        position: relative;
        display: block;
        width: $width;
        height: $thickness;
        background: $color;
    }

    &:after {
        content: "";
        top: $gap;
        box-shadow: 0 $thickness+$gap 0 0 $color;
    }
}

html.mm-opening .hamburger:before,
html.mm-opening .hamburger:after {
    display: none;
}

.hamburger {
    @include hamburger();
}