---
layout: master
exclude_top_level: true
---

<section class="content">
    <div class="row outer-row">
        <div class="large-3 columns">
            <aside class="global-sidebar">
                {% include sidebar.html %}
            </aside>
        </div>
        <div class="large-9 columns">
            <main class="main">

                <!-- BREADCRUMBS -->
                <nav class="breadcrumbs-bar">
                    {% include snippets/breadcrumbs.html %}
                </nav>

                {% unless page.exclude_main_header %}
                    <h1>{{ page.title }}</h1>
                {% endunless %}

                {{ content }}
            </main>
        </div>
    </div>
</section>