/*
    SECTIONS.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// White BG Sections
//-----------------------------------------------------------------

.global-header .outer-row,
.hero-section .outer-row,
.feature-section,
.global-footer .outer-row {
	background: white;
}


.hero-section {

}

//-----------------------------------------------------------------
// Sections
//-----------------------------------------------------------------

.feature-section {
	background: #D9E5F6;
	padding-top: rem-calc(40);
	padding-bottom: rem-calc(20);
}

//-----------------------------------------------------------------
// Footer Section
//-----------------------------------------------------------------

.global-footer .outer-row {
	background: $body-bg;
}

//=========================================
//
//=========================================