/*
    SPECIAL.CSS

    - Last updated: 02.05.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Special
//-----------------------------------------------------------------

.primary-color {
    color: $primary-color;
}

//-----------------------------------------------------------------
// Google Map Patch (contact)
//-----------------------------------------------------------------

.google-map {
    width: 100%;
    height: 100%;

    img {
        max-width: inherit;
    }
}

.touch .google-map {
    pointer-events: none;
}

//-----------------------------------------------------------------
// Twitter Widget (homepage)
//-----------------------------------------------------------------

.twitter-timeline[style] {
    width: 100% !important;
    height: 100% !important;
}

.customisable-border {
    border: medium none;
}

/* Twitter slows mobile down */
.twitter-panel {
    @media #{$small-only} {
        display: none;
    }
}

//-----------------------------------------------------------------
// Fix Tabs Distracting Outline (news)
//-----------------------------------------------------------------

/* What gives, Webkit?! */
.lv-super .accordion,
.lv-super .accordion *,
.lv-super .accordion a,
.lv-super .tabs a,
.lv-super .tabs-content .content ,
.lv-super .tabs-content .content * {
    outline: none !important;
}